<form #quizCardForm='ngForm' class="container p-0">

    <div class="form-floating" *ngIf="progress<100">
        <div class="row mb-3 p-3">
            <div class="mb-3">{{curr_quiz.question}}</div>
            <ul class="list-group p-0">
                <!-- ,'list-group-item-success':quiz.isAnswer == true -->
                <li *ngFor="let quiz of curr_quiz.options" class="list-group-item list-group-item-action"
                    [ngClass]="{'list-group-item-success':answered == true && quiz.isAnswer  == true,'list-group-item-danger':answered == true && quiz.isAnswer  == false}"
                    (click)="!answered && selectAnswer(quiz)">{{quiz.text}}</li>
            </ul>
        </div>
        <div class="form-floating text-success" *ngIf="answered && isCorrect">
            Resposta Correta!
        </div>
        <div class="form-floating text-warning" *ngIf="answered && !isCorrect">
            Resposta Inorreta!
        </div>
        <div class="mt-3 mb-3 form-floating">
            <input class="btn btn-dark w-100" type="button" name="nextQuestion" id="nextQuestion"
                (click)="answered && nextQuestion()" value="Proxima pergunta">
        </div>
    </div>

    <div class="form-floating" *ngIf="progress>=100">
        <div class="display-6 mb-3">Quiz concluido!</div>
        <div class="text-center mb-3">
            Voce acertou {{points}}% das perguntas.
        </div>
        <div class="row mb-3 justify-content-around align-middle">
            <input class="col-4 btn btn-warning" type="button" value="Tentar Novamente" (click)="ngOnInit()">
            <input class="col-4 btn btn-outline-dark" type="button" value="Ver histórico de tentativas" (click)="goToHistoric()">
        </div>
    </div>



    <div class="form-floating">
        <div class="progress">
            <div class="progress-bar bg-danger p-0" role="progressbar" [ngStyle]="{'width': progress + '%'}"
                aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
        </div>
    </div>
</form>