<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink=''>
            <img class="logo" src="assets/img/logo.svg" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a routerLink=''>
            <i class="material-icons">
                home
            </i>
        </a>
    </span>
    <span class="title-group">
        <a routerLink='quiz'>
            <i class="material-icons">
                quiz
            </i>
        </a>
    </span>
    <span class="title-group">
        <a routerLink='hist' class="mat-icon">
            <i class="material-icons">
                history
            </i>
        </a>
    </span>

</mat-toolbar>